@import "./colors.css";
@import "./fonts.css";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  color: var(--white);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
